[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }
[touch-action="auto"]{ -ms-touch-action: auto; touch-action: auto; }
[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }
[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }
[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }

.voyager-wrapper {
	position: relative;
	padding-bottom: 56.25%;
}

.voyager-wrapper iframe,
.voyager-wrapper voyager-explorer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% ;
	height: 100%;
	margin:0;

}
